<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
<script type="text/javascript" src="{{ url_for('static',filename='script/script.js') }}">
  
</script>

</head>
<body>

<h2>Welcome</h2>

<img src="https://www.bolster.eu/media/images/5450_dbweb.jpg?1549350221" width="200" height="200">
<br>
<br>
{{ quote }}
<br>
<br>
Repository
<centre><a href="https://gitlab.com/maverick12/cloud">https://gitlab.com/maverick12/cloud</a></centre>
</body>
</html>
